@use "../student-registration/student-registration.component.scss" as
  studentRegistrationStyles;
@mixin centerContent {
  display: flex;
  justify-content: center;
}

.formDiv {
  @include studentRegistrationStyles.formDiv;
}

.studentsInfoCard {
  max-width: 50%;
}

.mat-card-image {
  width: 15vw;
}

.centerCard {
  @include centerContent();
}

.centerProfilePhoto {
  @include centerContent();
}

.avatar {
  background-image: url("https://randomuser.me/api/portraits/thumb/men/75.jpg");
}
