a{
    text-decoration: none;
}

.menuDiv{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    font-size: 1vw;
    margin: 1vw;
    padding: 1vw;
}

.mat-menu-item{
    font-size: 1vw;
}